iframe {
  margin: auto !important;
  width: 100%;
  background-color: #ccc;
}

div.drag-enter {
  outline: 0px solid;
  animation: dragEnter 0.5s infinite ease;
}

@keyframes dragEnter {
  0% {
    outline: 0px solid #f00;
    font-size: 2rem;
    color: #000;
  }
  50% {
    outline: 5px solid #f00;
    font-size: 2rem;
    color: #f00;
  }
  100% {
    outline: 0px solid #f00;
    color: #000;
    font-size: 2rem;
  }
}
